<h3>list of users</h3>
<table>
  <thead>
    <tr>
      <th width="15%">id</th>
      <th>user name</th>
      <th width="10%"></th>
    </tr>
  </thead>
  <% @user.each do |u| %>
  <tr>
    <td><%= u.id %></td>
    <td><%= link_to u.name, user_path(u) %></td>
    <td><%= link_to '&times;'.html_safe, user_path(u), method: :delete %></td>
  </tr>
  <% end %>
</table>
<%= link_to 'Add user', new_user_path, class: 'button small radius' %>
    