<% content_for :title do %>
create new user
<% end %>
<h2>
   create new user 
</h2>
<%= form_for :user, url: users_path do |f| %>



<div class="row">
   <div class="large-6 columns">
     <%= f.text_field :name, :placeholder => "enter user name" %>
   </div>
</div>
<div class="row">
   <div class="large-4 columns">
     <%= f.submit :class => "button small radius" %>
   </div>
</div>
<% end %>