
<div id="maximage">
<% @pictures.each do |picture| %>

  
<%= image_tag (picture.image) %>
  
  
  <% end %>
</div>


<%= link_to '', galleries_path, class: "ui-icon ui-icon-arrowthick-1-w" %>

  
<script type="text/javascript" charset="utf-8">
  
  
$(function() {
    $('#maximage').maximage({
        backgroundSize: "contain",
        cycleOptions: {
            fx: 'fadeZoom',
            //sync: false,
            speed: 800,
            timeout: 5000,
            pause: 1
        },
        onFirstImageLoaded: function() {
            jQuery('#maximage').fadeIn('fast');
          }
      
    });

    
    $('#hide_menu').click(function(e){
        e.preventDefault();
      $('.contentContainer').hide( "drop", { direction: "down" }, "fast" );
      
    });
  
});
</script>