
<div id="maximage">
<% @pictures.each do |picture| %>

  
<%= image_tag (picture.image) %>
  
  
  <% end %>
</div>
<%= render 'thumb_menu' %>
<div id="menu-small">
  <a href="#" class="ui-icon ui-icon-extlink">
</div>
  
<script type="text/javascript" charset="utf-8">
  
  
$(function() {
    $('#maximage').maximage({
        backgroundSize: "contain",
        cycleOptions: {
            fx: 'fadeZoom',
            //sync: false,
            speed: 800,
            timeout: 5000,
            pause: 1
        },
        onFirstImageLoaded: function() {
            jQuery('#maximage').fadeIn('fast');
          }
      
    });

    
    $('#hide_menu').click(function(e){
        e.preventDefault();
      $('.contentContainer').hide( "drop", { direction: "down" }, "fast" );
      
    });
  
  $('#menu-small').click(function(){
    $('.contentContainer').show( "drop", { direction: "up" }, "fast" );
  });
  
});
</script>