// Place all the styles related to the galleries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.gallery-img {
          box-shadow:inset 1px 1px 40px 0 rgba(0,0,0,.45);
          border-bottom:2px solid #fff;
          border-right:2px solid #fff;
          margin:auto;
          border-radius:5px;
          overflow:hidden;
}

.thumb {
  width:100px;
  
}

.panel {
  opacity: .9;
  background: #888;
}

/* Other container */
.contentContainer {
  position:absolute;
  left:0%;
  bottom:0%;
  width:100%;
  background:#888;
  color:#fff;
  font-family:sans-serif;
  padding:20px;
  margin-bottom:0px;
  border-radius:5px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=80);
  opacity:0.8;
}

/* Center my loader */
#maximage {
    display:none;
}

/*I want to style my pager*/
#cycle-nav {
    float:left;
    margin-bottom:20px;
}
#cycle-nav ul {
    list-style-type:none;
}
#cycle-nav ul li {
    border:1px solid #ffffcc;
    float:left;
    margin:4px;
    width: 100px;
    height: 70px;
}

#cycle-nav ul li:hover .overlay {
  opacity:1;
}

#cycle-nav ul li .overlay {
  position: relative;
  top: 0px;
  width:100%;
  height:100%;
  background: rgba(200, 200, 200, .75);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

#cycle-nav ul li a {
    float:left;
    margin:2px;
    
}

#menu-small {
  display:none;
  position:absolute;
  bottom:0;
}

/* Overwrite Maximage's default background-size */
div.mc-image {
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

/* Other random styles */
#arrow_left, #arrow_right {text-decoration:none;}
a {color:#fff;}
a:hover {text-decoration:none;}
a:active {color:#999;}
hr {clear:both;}
p {margin-bottom:20px;}
.largeTxt {font-size:30px;}